body {
  background-color: #990000;
}
div {
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}
