body {
  background-color: #990000;
}
text {
  color: #000000;
}
hr {
  color: #66FF00;
}
#donate {
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    float: right;
}
#title {
  float: left;
}
